<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Login - Authentication Basics</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="form-group">
                                    <label for="txtUsername">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="txtUsername" required="">
                                </div>
                                <div class="form-group">
                                    <label for="txtPassword">Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="txtPassword" required="" autocomplete="new-password">
                                </div>

                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnRegister">Register</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->


<script>
    const btnLogin = document.getElementById("btnLogin");
    const btnRegister = document.getElementById("btnRegister");
    const txtUsername = document.getElementById("txtUsername");
    const txtPassword = document.getElementById("txtPassword");

    btnLogin.addEventListener("click", async () => {
        const result = await fetch("/user/login", {"method": "POST", "headers": {"content-type": "application/json"}, "body": JSON.stringify({"user": txtUsername.value, "password": txtPassword.value})})
        const jResult = await result.json();
        alert(JSON.stringify(jResult))
    })

    btnRegister.addEventListener("click", async () => {
        const result = await fetch("/user/register", {"method": "POST", "headers": {"content-type": "application/json"}, "body": JSON.stringify({"user": txtUsername.value, "password": txtPassword.value})})
        const jResult = await result.json();
        alert(JSON.stringify(jResult))
    })
</script>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>